= form_for([@post, @post.likes.build], remote: true, authenticity_token: true) do |f|
  = f.hidden_field :post_id
  = button_tag '<i class="fa icon-like mr-2"></i>いいね'.html_safe, type: "submit", class: 'btn btn-small btn-warning'
