/= form_for(current_user.active_relationships.build(follow_id: @user.id), remote: true, authenticity_token: true) do |f|
  = f.hidden_field :follow_id
  = f.submit 'いいね！', class: 'btn btn-large btn-warning'

p iine
